

<a [routerLink]="['/search']"></a>
<router-outlet></router-outlet>



<!-- <h1>{{ myName }}</h1>
<button [disabled]="" type="button" (click)="confirm()">click!</button>
<input [(ngModel)] = "firstName">  รับค่าสองแบบ 
<hr>
<br>
<tr *ngFor="let book of books">
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    
</tr>
<h1>{{ bookk[0].inStock | uppercase }}</h1>
<app-school></app-school>
<a [routerLink]="['/student']">Student</a>
<router-outlet></router-outlet>
<p></p>

<h1 ></h1> -->
<!-- <input [(ngModel)] = "movieId">
<button type="button"(click)="Onclick()">Click</button> -->


<a [routerLink]="['/search']"></a>
<router-outlet></router-outlet>
